<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
<%= erb :mypartial %>
<div class="jumbotron">
  <div class="container">
    <h1>Cheat sheet</h1>
    <!--<p><a class="btn btn-primary btn-lg" href="/command_line" role="button">Command Line</a></p>-->
    <!--<p><a class="btn btn-primary btn-lg" href="/search" role="button">Search</a></p>-->
    <!--<p><a class="btn btn-primary btn-lg" href="https://www.google.com" role="button">Google</a></p>-->
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>